// TODO: Get rid of as many of these atomic classes as possible. We are not Yahoo http://www.smashingmagazine.com/2013/10/21/challenging-css-best-practices-atomic-approach/
.static { position: static; }
.relative { position: relative; }
.absolute { position: absolute; }

.padding-top {
  padding-top: $grid-gutter-width;
}

// Still used in insights
.padding-bottom {
  padding-bottom: $grid-gutter-width;
}

// Still used in insights
.padding-top-half {
  padding-top: $grid-gutter-width / 2;
}

// Still used in insights
.padding-bottom-half {
  padding-bottom: $grid-gutter-width / 2;
}

// Still used in insights
.padding-top-third {
  padding-top: $grid-gutter-width / 3;
}

// Still used in insights
.padding-right {
  padding-right: $grid-gutter-width;
}

// Still used in insights
.padding-left {
  padding-left: $grid-gutter-width;
}

// Still used in insights, home, footer
.no-padding {
  padding: 0;
}

// Still used in insights
.no-padding-left {
  padding-left: 0;
}

// Still used in insights
.no-padding-right {
  padding-right: 0;
}

// Still used in insights
.padding-left-half {
  padding-left: $grid-gutter-width / 2;
}

// Still used in insights
.margin-top {
  margin-top: $grid-gutter-width;
}

// Still used in insights
.margin-top-half {
  margin-top: $grid-gutter-width / 2;
}

// Still used in insights
.margin-top-third {
  margin-top: $grid-gutter-width / 3;
}

// Still used in insights
.margin-bottom {
  margin-bottom: $grid-gutter-width;
}

// Still used in insights
.margin-bottom-half {
  margin-bottom: $grid-gutter-width / 2;
}

// Still used in insights and error pages
.margin-vertical {
  @extend .margin-top;
  @extend .margin-bottom;
}

// Still used in insights
.margin-vertical-half {
  @extend .margin-top-half;
  @extend .margin-bottom-half;
}

.inline-block {
  display: inline-block;
}

.block {
  display: block;
}

.table-cell {
  display: table-cell;
}

// Used in reviews
.bullet-after:after {
  content: '\2022';
  padding: 0 8px;

  @media (max-width: $screen-sm-min) {
    display: block;
    content: '';
  }
}

.bullet-before:before {
  content: '\2022';
  padding: 0 8px;
}
