// TODO: Get rid of as many of these atomic classes as possible. We are not Yahoo http://www.smashingmagazine.com/2013/10/21/challenging-css-best-practices-atomic-approach/
.static { position: static; }
.relative { position: relative; }
.absolute { position: absolute; }

.padding-top {
  padding-top: $grid-gutter-width;
}

// Still used in footer
.no-padding {
  padding: 0;
}

// Still used in error pages
.margin-vertical {
  @extend .margin-top;
  @extend .margin-bottom;
}

.inline-block {
  display: inline-block;
}

.block {
  display: block;
}

.table-cell {
  display: table-cell;
}

// Used in reviews
.bullet-after:after {
  content: '\2022';
  padding: 0 8px;

  @media (max-width: $screen-sm-min) {
    display: block;
    content: '';
  }
}

.bullet-before:before {
  content: '\2022';
  padding: 0 8px;
}
