.point-block {
  @extend .teal;
  @extend .inline-block;
  @extend .padding-half;
  margin-bottom: $grid-gutter-width;
}

.point-bottom {
  &:before {
    left: 0;
    bottom: -20px;
    border-width: 0 9px 20px;
    border-left-color: $teal;
  }
}

.point-bottom-orange {
  &:before {
    border-left-color: $orange-light;
  }
}

.point-right {
  &:before {
    right: -20px;
    top: 0;
    border-width: 9px 20px 9px 0;
    border-top-color: $teal;
  }
}