@import './variables.scss';
@import './common-resets.scss';

/* Smooths font rendering for Chrome-based browsers and Firefox */
body,
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Remove the margin in all browsers */
body {
  margin: 0;
  overflow-x: hidden;
  font-weight: normal;
  font-family: sans-serif;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  background-color: #f5f6f6;
}

@media (min-width: $desktop-xl-media) {
  body > div:first-of-type {
    max-width: $desktop-xl-media;
    margin: 0 auto;
    box-shadow: 0 12px 24px 0 rgba($black, .07);
  }
}

/* 1. Correct the line height in all browsers */
/* 2. Prevent adjustments of font size after orientation changes in iOS */
html {
  box-sizing: border-box;
  line-height: 1.15;
  -ms-overflow-style: scrollbar;
  -webkit-text-size-adjust: 100%; // stylelint-disable-line property-no-vendor-prefix
}

/* Render the `main` element consistently in IE */
main {
  display: block;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
