@import './variables.scss';

/* Remove the margin in all browsers */
body {
  margin: 0;
  overflow-x: hidden;
  background-color: $ice;
}

@media (min-width: 1920px) {
  body {
    width: 1920px;
    margin: 0 auto;
    background: $dark;
  }

  body > div {
    background-color: $ice;
  }
}

/* 1. Correct the line height in all browsers. */
/* 2. Prevent adjustments of font size after orientation changes in iOS. */
html {
  box-sizing: border-box;
  line-height: 1.15;
  -ms-overflow-style: scrollbar;
  -webkit-text-size-adjust: 100%; // stylelint-disable-line property-no-vendor-prefix
}

/* Render the `main` element consistently in IE */
main {
  display: block;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Remove the margin in Firefox and Safari */
button,
input {
  margin: 0;
}

/* Correct the inability to style clickable types in iOS and Safari */
button,
[type='button'],
[type='reset'],
[type='submit'] {
  font-family: inherit;
  cursor: pointer;
  -webkit-appearance: button; // stylelint-disable-line property-no-vendor-prefix

  /* Remove the inner border and padding in Firefox */
  &::-moz-focus-inner {
    padding: 0;
    border-style: none;
  }

  /* Restore the focus styles unset by the previous rule */
  &:-moz-focusring {
    outline: 1px dotted ButtonText;
  }

  /* Remove outline around element when focusing */
  &:focus {
    outline: 0;
  }
}

/* Correct the odd appearance in Safari */
input[type="search"] { // stylelint-disable-line string-quotes
  outline-offset: -2px;
  -webkit-appearance: none; // stylelint-disable-line property-no-vendor-prefix

  &::-webkit-search-decoration { // stylelint-disable-line string-quotes, selector-no-vendor-prefix
    -webkit-appearance: none; // stylelint-disable-line property-no-vendor-prefix
  }
}

progress {
  position: relative;
  width: 108px;
  height: 4px;
  background: #f3f4f4;
  border: none; // Get rid of default border in Firefox
  border-radius: 99px;
  appearance: none;

  &::-webkit-progress-bar {
    background: #f3f4f4;
    border-radius: 99px;
  }

  &::-webkit-progress-value {
    position: absolute;
    top: -1px;
    height: 6px;
    background: $blue-gradient;
    border-radius: 99px;
  }

  &::-moz-progress-bar {
    height: 6px;
    margin-top: -1px;
    background: $blue-gradient;
    border-radius: 99px;
  }

  &::-ms-fill {
    background: $blue-gradient;
    border: none; // Get rid of default border in IE 11
  }

  &:not([value]) {
    background: $ice;

    &::-ms-fill {
      animation-name: none; // remove ie animation
    }

    &::-webkit-progress-bar {
      background: $ice;
    }

    &::-moz-progress-bar {
      background: $ice;
    }
  }
}

.generalContainer {
  @media (min-width: 1280px) {
    width: 1200px;
    margin: 0 auto;
  }

  @media (min-width: 1680px) {
    width: 1384px;
    margin: 0 auto;
  }
}

.generalMargin {
  margin: 0 20px;

  @media (min-width: 768px) {
    margin: 0 30px;
  }

  @media (min-width: 1024px) {
    margin: 0 15px;
  }

  @media (min-width: 1280px) {
    margin: 0;
  }

  @media (min-width: 1680px) {
    margin: 0;
  }
}
