@import './variables.scss';

.globalContainer {
  @media (min-width: $desktop-m-media) {
    width: 1200px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-l-media) {
    width: 1384px;
    margin: 0 auto;
  }
}

.globalMargin {
  margin-right: $spacing-mobile;
  margin-left: $spacing-mobile;

  @media (min-width: $tablet-media) {
    margin-right: $spacing-tablet;
    margin-left: $spacing-tablet;
  }

  @media (min-width: $desktop-s-media) {
    margin-right: $spacing-desktop-s;
    margin-left: $spacing-desktop-s;
  }

  @media (min-width: $desktop-m-media) {
    margin-right: $spacing-desktop-m;
    margin-left: $spacing-desktop-m;
  }
}
