
.gridContainer {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(4, 1fr);
}

@for $i from 1 through 4 {
  .col-s-#{$i} {
    grid-column-end: span $i;
  }
}

@media (min-width: 375px) {
  .gridContainer {
    grid-gap: 24px;
  }
}

@media (min-width: 768px) {
  .gridContainer {
    grid-gap: 24px; /* duplicated */
    grid-template-columns: repeat(6, 1fr);
  }

  @for $i from 1 through 6 {
    .col-m-#{$i} {
      grid-column-end: span $i;
    }
  }
}

@media (min-width: 1024px) {
  .gridContainer {
    grid-gap: 16px;
    grid-template-columns: repeat(12, 1fr);
  }

  @for $i from 1 through 12 {
    .col-l-#{$i} {
      grid-column-end: span $i;
    }
  }
}

@media (min-width: 1280px) {
  .gridContainer {
    grid-gap: 24px;
    grid-template-columns: repeat(12, 1fr); /* duplicated */
  }
}

@media (min-width: 1680px) {
  .gridContainer {
    grid-gap: 32px;
    grid-template-columns: repeat(12, 1fr); /* duplicated */
  }
}

@media (min-width: 1920px) {
  .gridContainer {
    grid-gap: 32px; /* duplicated */
    grid-template-columns: repeat(12, 1fr); /* duplicated */
  }
}
