@import './variables.scss';

/* TYPOGRAPHY */
@mixin font-props($color: null, $font-size: null, $letter-spacing: null, $line-height: null, $font-weight: null, $text-align: null) {
  margin: 0;

  @if ($color) {
    color: $color;
  }

  @if ($font-size) {
    font-size: $font-size;
  }

  @if ($letter-spacing) {
    letter-spacing: $letter-spacing;
  }

  @if ($line-height) {
    line-height: $line-height;
  }

  @if ($font-weight) {
    font-weight: $font-weight;
  }

  @if ($text-align) {
    text-align: $text-align;
  }
}

/* GRID */

/**
 * Generates IE11 -ms-grid-columns
 */
@function grid-repeat-ie($repeat, $width, $gap) {
  $list: ();

  @for $i from 1 through $repeat {
    $list: append($list, $width, space);
    $list: append($list, $gap, space);
  }
  $list: append($list, $width);

  @return $list;
}

/**
 * Calculates a width value based on
 * a provided grid column gap
 */
@function width-with-gap($gap) {
  // Original 'recipe': calc(100% - 5 * $gap) / 6 * 4 + (3 * $gap)
  $width-with-gap: calc(66.6% - .3 * #{$gap});

  @return $width-with-gap;
}

/**
 * Generates media queries for a defined width
 * that uses a provided grid column gap
 */
@mixin gridInnerWidth() {
  @media (min-width: $tablet-media) {
    width: width-with-gap($grip-gap-tablet);
  }

  @media (min-width: $desktop-s-media) {
    width: width-with-gap($grip-gap-desktop-s);
  }

  @media (min-width: $desktop-m-media) {
    width: width-with-gap($grip-gap-desktop-m);
  }

  @media (min-width: $desktop-l-media) {
    width: width-with-gap($grip-gap-desktop-l);
  }

  @media (min-width: $desktop-xl-media) {
    width: width-with-gap($grip-gap-desktop-l);
  }
}

/**
 * Generates CSS selectors to style input
 * placeholder that supports all browser vendors
 *
 * .foo {
 *   @include placeholder {
 *     color: green;
 *   }
 * }
 *
 */
@mixin optional-at-root($sel) {
  @at-root #{if(not &, $sel, selector-append(&, $sel))} {
    @content;
  }
}

@mixin placeholder {
  @include optional-at-root('::-webkit-input-placeholder') {
    @content;
  }

  @include optional-at-root(':-moz-placeholder') {
    @content;
  }

  @include optional-at-root('::-moz-placeholder') {
    @content;
  }

  @include optional-at-root(':-ms-input-placeholder') {
    @content;
  }
}
