/*
 * Colors
 */
$black: #000000;
$butterscotch: #ffbc47;
$charcoal-grey: #2f3940;
$dark: #18242b;
$deep-blue: #0e6bfd;
$deep-sky-blue: #1477fd;
$light-blue: #269dff;
$gross-green: #99c613;
$ice: #e7e9e9;
$light-blue-grey: #d1d3d5;
$light-grey-blue: #b9bdbf;
$pink-red: #e9004c;
$slate-grey: #5d656a;
$white: #ffffff;
$white-grey: #f8f8f8;

/*
 * Gradients
 */
$active-underline-gradient: linear-gradient(92deg, $light-blue, $deep-blue);
$green-gradient: linear-gradient(98deg, #b4de37, $gross-green);
$side-menu-close-gradient: linear-gradient(135deg, $light-blue, $deep-blue);

/*
 * Sizes
 */
$mobile-s-media: calc($mobile-m-media - 1px);
$mobile-m-media: 360px;
$mobile-l-media: 375px;
$mobile-xl-media: 412px;
$tablet-media: 414px;
$desktop-media: 1025px;

/*
 * Spacing
 */
$horizontal-spacing: 20px;
$horizontal-spacing-l: 40px;
