/*
 * Colors
 */

$black: #000000;
$butterscotch: #ffbc47;
$charcoal-grey: #2f3940;
$dark: #18242b;
$deep-sky-blue: #1477fd;
$gross-green: #99c613;
$ice: #e7e9e9;
$light-blue-grey: #d1d3d5;
$light-grey-blue: #b9bdbf;
$pink-red: #e9004c;
$slate-grey: #5d656a;
$white: #ffffff;
$white-grey: #f8f8f8;

/*
 * Gradients
 */
$green-gradient: linear-gradient(98deg, #b4de37, $gross-green);

/*
 * Sizes
 */

$desktop-media: 1025px;
$tablet-media: 415px;
$mobile-media: 414px;
