/*
 * Colors
 */
$battleship-grey: #6d7478;
$black: #000000;
$butterscotch: #ffbc47;
$charcoal-grey: #2f3940;
$dark: #18242b;
$deep-blue: #0e6bfd;
$deep-sky-blue: #1477fd;
$green: #a0d61d;
$gross-green: #8dc613;
$ice: #e7e9e9;
$light-blue-grey: #d1d3d5;
$light-blue: #269dff;
$light-grey-blue: #b9bdbf;
$pink-red: #e9004c;
$slate-grey: #5d656a;
$white: #ffffff;
$white-grey: #f8f8f8;

/*
 * Gradients
 */
$blue-gradient: linear-gradient(135deg, $light-blue, $deep-blue);
$green-gradient: linear-gradient(97deg, $green, $gross-green);

/*
 * Sizes
 */
$mobile-m-media: 360px;
$mobile-l-media: 375px;
$mobile-xl-media: 411px;
$mobile-xl-max-media: 414px;
$tablet-media: 768px;
$desktop-s-media: 1024px;
$desktop-m-media: 1280px;
$desktop-l-media: 1680px;
$desktop-xl-media: 1920px;

/*
 * Spacing
 */
$spacing-mobile: 20px;
$spacing-tablet: 30px;
$spacing-desktop-s: 15px;
$spacing-desktop-m: 0;

/*
 * Grid
 */
$grip-gap-mobile: 16px;
$grip-gap-mobile-l: 24px;
$grip-gap-tablet: 24px;
$grip-gap-desktop-s: 16px;
$grip-gap-desktop-m: 24px;
$grip-gap-desktop-l: 32px;

/*
 * Header
 */
$header-height: 60px;
$header-height-l: 80px;
$distance-from-header: 16px;
