.list-checks,
.list-arrows-circle-right,
.list-angles-right,
.list-downloads {
  list-style: none;
  padding-left: 0;

  li {
    padding-left: 30px;

    &:before {
      @include font-awesome-icon($fa-var-check-circle);
      margin-left: -23px;  // 23px instead of 30px for multiline li elements
      padding-right: 7px;
    }
  }
}

.list-arrows-circle-right {
  li {
    &:before {
      margin-left: -27px;
      content: $fa-var-arrow-circle-right;
    }
  }
}

.list-angles-right {
  li {
    &:before {
      content: $fa-var-angle-right;
    }
  }
}

.list-downloads {
  li {
    &:before {
      content: $fa-var-download;
      font-size: $font-size-lg;
      display: block;
      float: left;
    }
  }
}

.list-spaced {
  li {
    margin-bottom: 10px;
  }
}

.list-media {
  @extend .list-unstyled;

  li {
    text-align: center;
  }

  .media {

    .media-object {
      margin: 2px 0 30px;
    }

    .media-heading {
      margin: 0 0 18px;
    }
  }
}

.list-bullets {
  font-size: $font-size-h4;
  line-height: 1.65;
  padding-left: 20px;

  li {
    padding-left: 10px;
  }
}
