// Sticky footer
// -------------

html,
body {
  height: 100%;
}

body {
  @include font-smoothing-grayscale;
  padding-top: $navbar-height;

  > header.navbar {
    margin-bottom: 0;
  }

  > main {
    min-height: 100%;
    padding-bottom: 60px;
  }

  > footer {
    margin-top: -$navbar-height;
  }

  &.no-fixed-navbar {
    padding-top: 0;
  }
}

a {
  @include transition(.25s color);
}

// TODO: Do we really want to do this?
img {
  @extend .img-responsive;
}

img,
.img-thumbnail {
  width: auto \9; // Override Bootstrap fix for SVG images in IE10 and below
}

iframe {
  border: 0;
}

.no-link {
  pointer-events: none;
}
