.#{$fa-css-prefix}-xl {
  font-size: $font-size-jumbo;
}

.#{$fa-css-prefix}-rotate-45  { @include fa-icon-rotate(45deg, 1);  }
.#{$fa-css-prefix}-rotate-135  { @include fa-icon-rotate(135deg, 1);  }

@font-face {
  font-family: 'FontAwesome';
  src: url('~font-awesome/fonts/fontawesome-webfont.eot');
  src: url('~font-awesome/fonts/fontawesome-webfont.eot') format('embedded-opentype'),
    url('~font-awesome/fonts/fontawesome-webfont.woff2') format('woff2'),
    url('~font-awesome/fonts/fontawesome-webfont.woff') format('woff'),
    url('~font-awesome/fonts/fontawesome-webfont.ttf') format('truetype'),
    url('~font-awesome/fonts/fontawesome-webfont.svg#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}


.icon-benefit {
  font-size: 24px;

  &:before {
    @extend .icon-center;
    display: block;
  }
}
