@font-face {
  font-family: 'kununu';
  src: url('~fonts/kununu.eot');
  src: url('~fonts/kununu.eot') format('embedded-opentype'),
       url('~fonts/kununu.woff2') format('woff2'),
       url('~fonts/kununu.woff') format('woff'),
       url('~fonts/kununu.ttf') format('truetype'),
       url('~fonts/kununu.svg#kununu') format('svg');
  font-weight: normal;
  font-style: normal;
}
