.section {
  margin-bottom: 20px;
}

.section-spacious {
  padding: 50px 0;
}

%section-title {
  margin: 0 0 12px;
  font-size: $font-size-lg;
  font-weight: normal;
}

.section-text {
  margin: 0 auto;
  max-width: 640px;
}

.section-title {
  @extend %section-title;
}
