%text-white {
  color: $white;
}


// Monotone
// -------------------------

.gray-base {
  @extend %text-white;
  background: $gray-base;
}

.gray-base-03 {
  color: $gray-base-70;
  background: $gray-base-03;
}

.gray-base-10 {
  color: $gray-base-80;
  background: $gray-base-10;
}

.gray-base-20 {
  @extend %text-white;
  background: $gray-base-20;
}

.gray-base-30 {
  @extend %text-white;
  background: $gray-base-30;
}

.gray-base-40 {
  @extend %text-white;
  background: $gray-base-40;
}

.gray-base-50 {
  @extend %text-white;
  background: $gray-base-50;
}

.gray-base-60 {
  @extend %text-white;
  background: $gray-base-60;
}

.gray-base-70 {
  @extend %text-white;
  background: $gray-base-70;
}

.gray-base-80 {
  @extend %text-white;
  background: $gray-base-80;
}

.gray-base-90 {
  @extend %text-white;
  background: $gray-base-90;
}

// Colors
// -------------------------

.green {
  @extend %text-white;
  background: $green;
}

.green-light {
  @extend %text-white;
  background: $green-light;
}

.green-dark {
  @extend %text-white;
  background: $green-dark;
}

.blue {
  @extend %text-white;
  background: $blue;
}

.blue-lighter {
  @extend %text-white;
  background: $blue-lighter;
}

.blue-light {
  @extend %text-white;
  background: $blue-light;
}

.blue-dark {
  @extend %text-white;
  background: $blue-dark;
}

.teal {
  @extend %text-white;
  background: $teal;
}

.teal-sat {
  @extend %text-white;
  background: $teal-sat;
}

.teal-light {
  @extend %text-white;
  background: $teal-light;
}

.teal-dark {
  @extend %text-white;
  background: $teal-dark;
}

.teal-darker {
  @extend %text-white;
  background: $teal-darker;
}

.red {
  @extend %text-white;
  background: $red;
}

.orange {
  @extend %text-white;
  background: $orange;
}

.orange-lighter {
  @extend %text-white;
  background: $orange-lighter;
}

.orange-light {
  @extend %text-white;
  background: $orange-light;
}

.orange-dark {
  @extend %text-white;
  background: $orange-dark;
}

.white {
  background: $white;
}

.gray {
  @extend %text-white;
  background: $gray;
}

.gray-light {
  @extend %text-white;
  background: $gray-light;
}

.gray-lightest {
  background: $gray-lightest;
}

.facebook-blue {
  @extend %text-white;
  background: $facebook-blue;
}

.twitter-blue {
  @extend %text-white;
  background: $twitter-blue;
}

.google-red {
  @extend %text-white;
  background: $google-red;
}

.youtube-red {
  @extend %text-white;
  background: $youtube-red;
}

.linkedin-blue {
  @extend %text-white;
  background: $linkedin-blue;
}

.xing-green {
  @extend %text-white;
  background: $xing-green;
}

.text-white {
  @extend %text-white;
}

.text-gray-light {
  color: $gray-light;
}

.text-gray-base-50 {
  color: $gray-base-50;
}

.text-gray-base-70 {
  color: $gray-base-70;
}

.text-green {
  color: $green;
}

.text-green-dark {
  color: $green-dark;
}

.text-orange {
  color: $orange;
}

.text-blue {
  color: $blue;
}

.text-red {
  color: $red;
}

.text-gold {
  color: $gold;
}

.text-muted-light {
  color: $text-muted-light;
}

.text-muted {
  color: $text-muted;
}

.text-muted-dark {
  color: $text-muted-dark;
}

.text-body {
  color: $text-color;
}

.text-headline {
  color: $gray-base;
}

.text-teal-sat {
  color: $teal-sat;
}

.border-gray-lighter {
  border: 1px solid $gray-light;
}

.border-green {
  border: 1px solid $green-dark;
}

.border-green-light {
  border: 1px solid $green;
}

.border-orange {
  border: 1px solid $orange-dark;
}

.border-blue {
  border: 1px solid $blue-dark;
}

.border-color-gray {
  border-color: $gray;
}

.border-color-white {
  border-color: $white;
}

.border-color-gray-light {
  border-color: $gray-light;
}

.border-color-green {
  border-color: $green;
}

.border-color-green-dark {
  border-color: darken($green-dark, 5%);
}

.border-color-orange {
  border-color: $orange;
}

.border-color-orange-dark {
  border-color: darken($orange-dark, 5%);
}

.border-color-blue {
  border-color: $blue-dark;
}
