// Colors
// -------------------------

// Used in app-reviews, error pages, insights, homepage
.white {
  background: $white;
}

// Used still in app-profiles
.text-green {
  color: $green;
}

// Used still in insights
.text-red {
  color: $red;
}
