input[type="radio"],
input[type="checkbox"] {
  margin: 2px 0 0;
}


input[type="file"] {
  display: inline-block;
}

.input-lg {
  border-radius: $input-border-radius-lg;
}

.input-sm {
  border-radius: $input-border-radius-sm;
}


.form-inline {
  .form-control {
    width: auto;
  }

  .full-width {
    .form-group {
      width: 100%;
    }
  }
}

tags-input .tags {
  @extend .form-control;
  height: auto;
  padding: 3px;
}

.form-control:focus {
  box-shadow: 0 0 5px $gray-base-03;
  border-color: $gray-base-40;
}

.checkbox input:focus + label:before {
  box-shadow: 0 0 0 2px $white, 0 0 0 3px $gray-base-40;
}

.control-label,
label.block.optional {
  color: $gray-base-90;
  font-size: $font-size-base;
  font-weight: $font-weight-semibold;
  letter-spacing: -.01em;

  &.control-label-no-padding-top {
    padding-top: 0;
  }

  &:empty {
    display: none;
  }

  .fa-info-circle {
    margin-left: $baseline-grid;
    font-size: $font-size-sm;
    color: $gray-base-20;
  }
}

.form-control-lg {
  margin-bottom: $baseline-grid * 3;
  .control-label {
    font-size: $font-size-base;
  }
}

.form-control-sm {
  margin-bottom: $baseline-grid * 2;
  .control-label {
    font-size: $font-size-small;
    margin-bottom: $baseline-grid;
  }
  .label-danger {
    font-size: $font-size-xxs;
  }
}

.form-horizontal {
  @media (min-width: $screen-sm-min) {
    .control-label {
      text-align: left;
    }
  }
}

.form-group {
  @include clearfix;
  margin-bottom: $baseline-grid;
}

.form-control-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  @extend .text-xl;
  @extend .text-gray-light;
}

.form-control-lg .form-control-icon {
  top: 20px;
}

.control-label-lg {
  font-size: $font-size-lg;

  + .control-note {
    line-height: 26px;
  }
}

.control-note {
  color: $gray-base-30;
  float: right;
  font-family: $font-family-sans-serif;
  font-size: $font-size-xs;
  font-style: italic;
  padding-top: $baseline-grid;
  text-transform: none;

  .title {
    color: $gray-base-60;
  }
}


.form-control-group {
  margin: 10px 0;
  display: table;

  .form-control-group-row {
    margin-left: 0;
    margin-right: 0;
    display: table-row;

    &:first-child {

      .form-control-group-col {
        border-top-width: 1px;

        &:first-child {
          border-top-left-radius: $border-radius-base;
        }

        &:last-child {
          border-top-right-radius: $border-radius-base;
        }
      }
    }

    &:last-child {
      .form-control-group-col {
        &:first-child {
          border-bottom-left-radius: $border-radius-base;
        }

        &:last-child {
          border-bottom-right-radius: $border-radius-base;
        }
      }
    }
  }

  .form-control-group-col {
    margin: 0;
    background: $white;
    border: 1px solid $gray-base-10;
    border-left-width: 0;
    border-top-width: 0;
    text-align: left;
    float: none;
    display: table-cell;
    padding: 20px 40px;
    vertical-align: middle;

    label {
      cursor: pointer;
    }

    &:first-child {
      border-left-width: 1px;
    }
  }

  .form-control-group-col-lg {
    height: 80px;
  }

  .form-control-group-col-sm {
    padding: 15px;
  }

  .form-control-group-col-xs {
    padding: 10px 15px;
  }

}



.radio input,
.checkbox input,
input.radio,
input.checkbox {
  display: block;
  opacity: 0;
  position: absolute;

  // TODO: Remake this component to:
  //   1. position the radio or checkbox inputs in the same position as the indicator
  //   2. make the elements self-contained (label as the parent, input inside, non-pseudo indicator also inside)
  // Inspiration can be taken from http://wtfforms.com/
  z-index: -1;

  + label {
    color: $gray-base-80;
    cursor: pointer;
    font-weight: normal;
    padding-left: 30px;
    letter-spacing: -.01em;

    &:before {
      border-radius: 50%;
      box-shadow: 0 0 0 2px $white, 0 0 0 3px $gray-base-20;
      content: ' ';
      display: inline-block;
      height: 12px;
      margin-bottom: 3px;
      margin-left: - $baseline-grid * 4;
      margin-right: ($baseline-grid * 2) - 2;
      text-align: center;
      vertical-align: middle;
      width: 12px;

      html.lt-ie9 & {
        border: 1px solid $gray-base-10;
      }
    }
  }

  + label span {
    color: $gray-base-30;
    margin-bottom: $baseline-grid * 2;
    margin-left: 6px;
  }

  &:focus + label {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }

  &:checked + label {
    font-weight: $font-weight-semibold;
    &:before {
      background: $green;
    }

    span {
      font-weight: $font-weight-regular;
      color: $gray-base-40;
    }
  }

  &:disabled + label {
    font-style: italic;
    font-weight: $font-weight-regular;
    color: $gray-base-40;

    &:before {
      background: $gray-base-20;
    }
  }
}

.radio input,
input.radio {
  & + label:before {
    width: 8px;
    height: 8px;
    box-shadow: 0 0 0 3px $white, 0 0 0 4px $gray-base-20;
  }
}

.checkbox input,
input.checkbox {
  &:checked + label:before {
    color: $green;
    @include font-awesome-icon($fa-var-check);
    font-size: $font-size-xs;
    background: transparent;
  }

  + label {
    &:before {
      border-radius: 1px;
    }
  }
}

.no-resize {
  resize: none;
}

.control-error {
  display: block;
  white-space: normal;
  line-height: 18px;
  position: absolute;
  left: 100%;
  width: 100%;
  text-align: left;
}

.results {
  position: relative;
}

.form-file-upload {
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  cursor: pointer;
}

.form-file-upload::-webkit-file-upload-button {
  cursor: pointer;
}

.form-navbar-collapse {
  margin: $grid-gutter-width / 2;

  .form-control {
    background: $teal;
    @extend .border-color-gray;
    color: $white;

    &:focus {
      box-shadow: none;
      @extend .border-color-white;
    }
  }
  .btn {
    margin: 0;
    color: $gray;

    &:hover,
    &:focus,
    &:active {
      color: $white;
    }
  }
}


.form-group {
  select.select-lg {
    height: 65px;
  }
}
