@mixin text-shadow {
  text-shadow: 0 1px 1px rgba($black, .2);
}

@mixin text-shadow-darker {
  text-shadow: 0 1px 1px rgba($black, .5);
}

@mixin text-shadow-darkest {
  text-shadow: 0 0 3px rgba(0, 0, 0, .5), 0 0 5px rgba(0, 0, 0, .7);
}

@mixin btn-text-shadow {
  text-shadow: 0 1px 1px rgba(0, 0, 0, .15);
}

@mixin button-variant(
  $background,
  $border,
  $hoverBackground : lighten($background, 5%),
  $hoverBorder     : lighten($background, 5%),
  $activeBackground: darken($background, 5%),
  $activeBorder    : darken($background, 5%)
) {
  @include transition(background-color .15s);
  color: $white;
  background-color: $background;
  border-color: $border;
  text-transform: uppercase;

  &:hover,
  &:focus,
  &.focus,
  .open > &.dropdown-toggle {
    color: $white;
    background-color: $hoverBackground;
    border-color: $hoverBorder;
  }

  &:active,
  &.active,
  .open > &.dropdown-toggle {
    color: $white;
    background-image: none;
    background-color: $activeBackground;
    border-color: $activeBorder;
  }

  &:active,
  &.active {
    @include box-shadow(none);
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &.focus,
    &:active,
    &.active {
      background-color: $background;
          border-color: $border;
    }
  }
}
