h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin: 0;
  padding: 0;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  small,
  .small {
    font-size: 75%;
    padding-left: 4px;
    padding-right: 4px;
  }
}

h1, .h1 {
  @media (max-width: $screen-md-max) {
    font-size: 18px;
  }
  font-weight: bold;
  letter-spacing: -.030em;
  line-height: $line-height-h1;
  margin-bottom: $baseline-grid * 4;
  margin-top: $baseline-grid * 4;
}

h2, .h2 {
  letter-spacing: -.030em;
  line-height: $line-height-h2;
  margin-bottom: $baseline-grid * 3;
  margin-top: $baseline-grid * 4;
}

h3, .h3 {
  letter-spacing: -.030em;
  line-height: $line-height-h3;
  margin-bottom: $baseline-grid * 3;
  margin-top: $baseline-grid * 4;
  @media (max-width: $screen-sm-max) {
    font-size: 14px;
    margin-bottom: $baseline-grid * 2;
    margin-top: $baseline-grid * 3;
  }
}

h4, .h4 {
  letter-spacing: -.020em;
  line-height: $line-height-h4;
  margin-top: $baseline-grid * 3;
  margin-bottom: $baseline-grid * 2;
}

h5, .h5 {
  letter-spacing: -.010em;
  line-height: $line-height-h5;
  margin-top: $baseline-grid * 3;
  margin-bottom: $baseline-grid * 2;
}

h6, .h6 {
  text-transform: uppercase;
  letter-spacing: .02em;
  margin-bottom: $baseline-grid;
  line-height: $line-height-h6;
  margin-top: $baseline-grid * 3;
  margin-bottom: $baseline-grid * 2;
  font-weight: $font-weight-regular;
  color: $gray-base-50;
}

p {
  letter-spacing: -.035em;
  color: $gray-base-80;
  margin-top: $baseline-grid;
  margin-bottom: $baseline-grid * 3;

  &.small {
    color: $gray-base-60;
    font-size: $font-size-small;
    line-height: $line-height-small;
    margin-bottom: $baseline-grid * 1;
  }
}

.us-layout p {
  font-size: $font-size-h4;
  line-height: 1.65;
}

#footer p {
  color: $gray-base-30;
}

#footer h3 {
  color: $gray-base-10;
}

.text-bold {
  font-weight: $font-weight-bold;
}

.text-semibold {
  font-weight: $font-weight-semibold;
}

.text-regular {
  font-weight: $font-weight-regular;
}

.text-light {
  font-weight: $font-weight-light;
}

.text-italic {
  font-style: italic;
}

.text-normalcase {
  text-transform: none;
}

.text-underline {
  text-decoration: underline;
}

.text-lg {
  font-size: $font-size-lg;
}

.text-md {
  font-size: $font-size-h3;
}

.text-base {
  font-size: $font-size-base;
}

.text-body-copy {
  margin: 0;
  font-size: $font-size-base;
  font-weight: $font-weight-regular;
  line-height: $line-height-base;
}

.text-sm {
  font-size: $font-size-sm;
}

.text-xs {
  font-size: $font-size-xs;
}

.text-left    { text-align: left; }
.text-right   { text-align: right; }
.text-center  { text-align: center; }

.text-monospace {
  font-family: $font-family-monospace;
}

.dl-horizontal dt {
  width: ($component-offset-horizontal - 12);
  color: $text-muted;
  text-align: left;
  text-transform: uppercase;
  font-size: $font-size-sm;
  font-weight: $font-weight-regular;
  line-height: 19px;
  padding-top: 1px;
  margin: 0;
}

.dl-horizontal-bold dt {
  color: $text-color;
  font-weight: $font-weight-bold;
}

.dl-horizontal-md dt {
  width: 130px;
}

.dl-horizontal-long dt {
  width: 195px;
}

.dl-horizontal-normalcase dt {
  text-transform: none;
}

h1, .h1, .text-jumbo {
}

@media (max-width: $screen-xs-max) {
  .text-center-xs { text-align: center; }
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .text-center-sm { text-align: center; }
}

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  .text-center-md { text-align: center; }
  .text-right-md { text-align: right !important; }
}
