// Monotone
// -------------------------

// Used mostly for backgrounds
// and border colors
$black:               #000;
$white:               #fff;
$gray:                #6c7b83;
$gray-light:          #e9ecec;
$gray-lightest:       #f7f8f9;

$gray-base:           #18242b;
$gray-base-03:        #f8f8f8;
$gray-base-10:        #e7e9e9;
$gray-base-20:        #d1d3d5;
$gray-base-30:        #b9bdbf;
$gray-base-40:        #a3a7aa;
$gray-base-50:        #8b9195;
$gray-base-60:        #747c80;
$gray-base-70:        #5d656a;
$gray-base-80:        #465055;
$gray-base-90:        #2f3940;


// Main colors
// -------------------------

$green:               #99c613;
$green-light:         lighten($green, 4%);
$green-dark:          darken($green, 2%);

$blue:                #2186db;
$blue-light:          lighten($blue, 6%);
$blue-dark:           darken($blue, 6%);

$blue-light-sat:      #e0ecf5;
$blue-lighter:        #ecf1f5;

$teal:                #18242b;
$teal-dark:           #121b21;

$red:                 #f6363f;
$red-dark:            #c2040d;

// Brand colors
// -------------------------

$brand-primary:         $green;
$brand-primary-dark:    $green-dark;
$brand-success:         $green;
$brand-danger:          #d13b36;

// Social-Media colors

$google-red   : #c4302b;
$youtube-red  : #cc181e;
$facebook-blue: #3b5998;
$twitter-blue : #00acee;
$xing-green   : #126567;
$linkedin-blue: #069;

// Scaffolding
// -------------------------

$body-bg:               lighten($gray-base-10, 5%);
$text-color:            #394b54;

// Links
// -------------------------

$link-color:            $blue;
$link-active-color:     $text-color;
$link-hover-color:      darken($link-color, 15%);
$link-hover-decoration: underline;

// Typography
// -------------------------

$font-family-sans-serif:     'Whitney SSm A', 'Whitney SSm B', sans-serif;
$font-family-base:           $font-family-sans-serif;

$font-size-xxl:              28px;
$font-size-xl:               22px;
$font-size-large:            18px;
$font-size-lg:               $font-size-large;
$font-size-md:               16px;
$font-size-base:             14px;
$font-size-small:            13px;
$font-size-sm:               $font-size-small;
$font-size-smaller:          12px;
$font-size-xs:               $font-size-smaller;
$font-size-smallest:         11px;
$font-size-xxs:              $font-size-smallest;

$font-size-h1:               30px;
$font-size-h2:               20px;
$font-size-h3:               18px;
$font-size-h4:               16px;
$font-size-h5:               13px;
$font-size-h6:               12px;

$line-height-h1:             36px;
$line-height-h2:             30px;
$line-height-h3:             24px;
$line-height-h4:             24px;
$line-height-h5:             18px;
$line-height-h6:             18px;

$line-height-base:           1.428571429; // 20/14
$line-height-sm-computed:    floor($font-size-sm * $line-height-base); // ~20px
$baseline-grid:              6px;

$line-height-computed:    floor(($font-size-base * $line-height-base)); // ~20px

$font-weight-light:          300;
$font-weight-regular:        400;
$font-weight-semibold:       600;
$font-weight-bold:           700;

$headings-color:             $gray-base-90;
$headings-font-weight:       $font-weight-semibold;

// // Components
// // -------------------------

$padding-base-vertical:          10px;
$padding-base-horizontal:        12px;

$padding-large-vertical:         18px;
$padding-xs-vertical:            2px;
$padding-xs-horizontal:          6px;

$padding-small-vertical:         5px;
$padding-sm-vertical:            $padding-small-vertical;

$line-height-large:              1.33;
$line-height-lg:                 $line-height-large;
$line-height-small:              1.4;
$line-height-sm:                 $line-height-small;
$line-height-xsmall:             .75;
$line-height-xs:                 $line-height-xsmall;

$border-radius-base:             4px;
$border-radius-large:            6px;
$border-radius-lg:               $border-radius-large;
$border-radius-xl:               30px;
$border-radius-small:            2px;
$border-radius-sm:               $border-radius-small;

// Tables
// -------------------------

$table-border-color:              transparent;
$th-border-color:                 transparent;
$td-border-color:                 lighten($gray-light, 4%);


// Buttons
// -------------------------

$btn-default-bg:                 $gray-base-10;
$btn-default-color:              $teal-dark;
$btn-default-border:             transparent;

$btn-primary-color:              $white;
$btn-primary-bg:                 $brand-primary;
$btn-primary-hover:              $green-light;

$btn-secondary-color:            $white;
$btn-secondary-bg:               $blue;
$btn-secondary-hover:            $blue-light;

$btn-info-color:                 $green-dark;
$btn-info-bg:                    $white;
$btn-info-border:                $green-dark;
$btn-info-hover:                 $green;

$btn-danger-bg:                  $brand-danger;
$btn-danger-color:               #fff;
$btn-danger-bg-end:              darken($btn-danger-bg, 5%);
$btn-danger-border:              darken($btn-danger-bg, 7%);


// Forms
// -------------------------

$input-bg:                       #fff;
$input-border-radius:            $border-radius-base;
$input-height-base:              ($line-height-computed + ($padding-base-vertical * 2) + 6);

$input-color-placeholder:        #999;
$input-height-base:              ($line-height-computed + ($padding-base-vertical * 2) + 2);
// $form-group-margin-bottom:       15px;

$input-color:                    $gray;
// $input-border:                   $gray-base-20;
// $input-border-focus:             $gray-base-30;
// $input-border-radius-lg:         4px;
// $input-border-radius-sm:         3px;

// $input-height-large:             (floor($font-size-large * $line-height-large) + ($padding-large-vertical * 2) + 6);
// $input-height-small:             (floor($font-size-small * $line-height-small) + ($padding-small-vertical * 2) + 6);
// $input-height-sm:                $input-height-small;


//== Media queries breakpoints

// Extra small screen / phone
//** Deprecated `$screen-xs` as of v3.0.1
$screen-xs:                  480px;
//** Deprecated `$screen-xs-min` as of v3.2.0
$screen-xs-min:              $screen-xs;

// Small screen / tablet
//** Deprecated `$screen-sm` as of v3.0.1
$screen-sm:                  768px;
$screen-sm-min:              550px;

// Medium screen / desktop
//** Deprecated `$screen-md` as of v3.0.1
$screen-md:                  992px;
$screen-md-min:              998px;

// Large screen / wide desktop
//** Deprecated `$screen-lg` as of v3.0.1
$screen-lg:                  1200px;
$screen-lg-min:              $screen-lg;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1);
$screen-sm-max:              ($screen-md-min - 1);
$screen-md-max:              ($screen-lg-min - 1);

// Grid system
// --------------------------------------------------

// Padding, to be divided by two and applied to the left and right of all columns
$grid-gutter-width:         40px;
$grid-float-breakpoint:     0;


// Navbar
// -------------------------

$navbar-height:                       60px;
$navbar-default-color:                $white;
$navbar-default-bg:                   $teal;

// Type
// ------------------------
$text-muted-light:               lighten($gray, 40%);
$text-muted:                     $gray-base-40;
$text-muted-dark:                $gray-base-60;


// Panels (Bootstrap v4 = cards)
// -------------------------

$panel-bg:                    #fff;
$panel-border:                lighten($gray-light, 7%);
$panel-footer-bg:             #f5f5f5;
$panel-inner-border:          $panel-border;
$panel-padding:               $grid-gutter-width / 2;


